:root{
  --contact: #DDDDDD;
  --stripe: #3AA0F4;
}
.masthead{
  margin-top: -10px;
  background-color: white;
  background-image: url("../img/masthead.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.title-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-section > aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-section > aside > a{
  width: 200px;
}
.title-section svg{
  transform: rotate(-5deg);
}
#about{
  background-color: white;
}
#news{
  background: linear-gradient(#ffffff, #3AA0F4);
}
#contact{
  background: var(--contact);
}
#canvas{
  width: 95%;
  height: auto;
}
path{
  transition: fill-opacity 0.5s;
}
.fill-white path{
  fill-opacity: 1;
  fill: white;
}
.bx-wrapper{
  margin-bottom: 0px !important;
  box-shadow: 0 0 10px white;
}
.member-num{
  filter: drop-shadow(0 0 3px white);
}
.grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}
.stripe{
  background: repeating-linear-gradient(-45deg, var(--stripe), var(--stripe) 5px, var(--contact) 5px, var(--contact) 10px);
  border: none;
  height: 10px;
  margin: 0;
}
@media screen and (min-width: 992px){
  #canvas{
    width: 80%;
    height: auto;
  }
  .grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}