:root{
  --contact: #DDDDDD;
  --stripe: #3AA0F4;
}
.masthead{
  margin-top: -10px;
  background-color: white;
  background-image: url("../img/masthead.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.title-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-section > aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-section > aside > a{
  width: 200px;
}
.title-section svg{
  transform: rotate(-5deg);
}
#about{
  background-color: white;
}
#member a{
  position: relative;
  text-align: center;
  min-width: 90px;
  padding: .5rem 1rem;
  line-height: 2.5rem;
  color: white;
  border-radius: 3px;
}
#member a::before,
#member a::after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  height:1px;
  width:0;
  background: white;
  transition: .2s ease all;
}
#member a::after{
  right:inherit;
  top:inherit;
  left: 0;
  bottom:0;
}
#member a:hover:before,
#member a:hover:after{
  width:100%;
  transition: .5s ease all;
}

#member a:link,
#member a:visited{
  text-decoration: none;
}
#member a:hover .delta{
  right: -.5rem;
}
.delta{
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  right: -.2rem;
  box-sizing: border-box;
  border: 2px solid white;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  transform: rotate(-45deg);
  transition: all .2s;
}
#article{
  background: linear-gradient(#ffffff, #DDDDDD);
}
#contact{
  background: var(--contact);
}
#canvas{
  width: 95%;
  height: auto;
}
path{
  transition: fill-opacity 0.5s;
}
.fill-white path{
  fill-opacity: 1;
  fill: white;
}
.bx-wrapper{
  margin-bottom: 0px !important;
  box-shadow: 0 0 10px white;
}
.member-num{
  filter: drop-shadow(0 0 3px white);
}
.grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}
.stripe{
  background: repeating-linear-gradient(-45deg, var(--stripe), var(--stripe) 5px, var(--contact) 5px, var(--contact) 10px);
  border: none;
  height: 10px;
  margin: 0;
}
@media screen and (min-width: 992px){
  #canvas{
    width: 80%;
    height: auto;
  }
  .grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}