body{
  position: relative;
  background-image: url("../img/member-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 0;
}
body::before{
  background: inherit;
  content: '';
  position: fixed;
  filter: blur(5px);
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: -1;
}
#member {
  padding-top: 92px !important;
}
.member-box{
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 0 10px white;
  border-radius: 5px;
  color: white;
}
.member-box img{
  border-radius: 5px 5px 0 0;
}
.member-box .content{
  padding-top: 0;
  text-align: left;
}
.member-box .content h6{
  text-transform: uppercase;
  filter: drop-shadow(0 0 5px orange);
}
.member-box .content aside{
  display: flex;
}
.member-box .content aside p{
  padding: 0 .5rem;
  margin: 0 .5rem;
  border-radius: 5px;
  box-shadow: 0 0 5px white;
  list-style: none;
}
.member-box .member-border{
  width: 100%;
  height: 0;
  border-bottom: 1px solid aliceblue;
}
.member-box .content .name{
  padding: 1rem 1.5rem;
}
.member-box .discription{
  padding: 1rem;
}
.member-box .discription h1{
  font-size: 2rem;
}

@media screen and (min-width: 768px){
  .member-box{
    flex-direction: row-reverse;
  }
  .member-box img{
    border-radius: 5px;
    box-shadow: 0 0 3px white;
  }
  .member-box .img,
  .member-box .content{
    padding: 1.5rem;
    width: 50%;
  }
  .member-box .img{
    display: flex;
    align-items: center;
  }
  .member-box .content{
    padding-top: 1.5rem;
  }
  .member-box .content .name{
    padding: 0;
  }
  .member-box .discription h1{
    font-size: 2.5rem;
  }
}