.btn{
  position: relative;
  z-index: 0;
  transition: color .2s;
  border-radius: 5px;
  background: #3AA0F4;
  border: 1px solid #3AA0F4;
  color: white;
}
.btn::before{
  position: absolute;
  content: "";
  height: 0;
  width: 100%;
  border-radius: 4px;
  background: white;
  bottom: 0;
  left: 0;
  transition: height .3s ease-in-out;
  z-index: -1;
}
.btn:hover{
  color: black;
}
.btn:hover::before{
  height: 100%
}
ol{
  padding-left: 1rem;
  list-style-image: url("../img/list-image/normal.png");
}
ol.circle{
  list-style-image: url("../img/list-image/circle.png");
}