.masthead{
  margin-top: -10px;
  background-color: white;
  background-image: url("../img/masthead.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.title-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-section > aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-section > aside > a{
  width: 200px;
}
.title-section svg{
  transform: rotate(-5deg);
}
#about{
  background-color: white;
}
#canvas{
  width: 100%;
  height: auto;
}
path{
  transition: fill-opacity 0.5s;
}
.fill-white path{
  fill-opacity: 1;
  fill: white;
}
.card-dark{
  box-sizing: border-box;
  border: 1px solid white;
  box-shadow: 0 0 5px black;
  background-color: white;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
  color: black;
}
#infomation{
}
#infomation ol{
  list-style-image: url("../img/list-image/normal.png");
}
#infomation ol.circle{
  list-style-image: url("../img/list-image/circle.png");
}
.card-dark > div{
  margin-bottom: 1.5rem;
}
.card-dark h5{
  border-left: 3px solid #666666;
  padding-left: 0.5rem;
}
@media screen and (min-width: 992px){
  #canvas{
    width: 80%;
    height: auto;
  }
}