.masthead{
  background-image: none !important;
}
.masthead,
.page-section{
  border-bottom: 1px solid #ddd;
}
.page-section:last-of-type{
  border: none;
}
.communication{
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.communication span{
  width: 50%;
}
.communication p{
  width: 300px;
    border: 1px solid black;

}