.masthead{
  background-image: none !important;
}
.masthead,
.page-section{
  border-bottom: 1px solid #ddd;
}
.page-section:last-of-type{
  border: none;
}
.personA,
.personB{
  display: flex;
}
.personA{
  justify-content: flex-end;
}
.personA div,
.personB div{
  
  width: 300px;
}
.personA p,
.personB p{
  border: 1px solid black;
  padding: 1rem;
}