.masthead{
  background-image: none !important;
}
.masthead,
.page-section{
  border-bottom: 1px solid #ddd;
}
.page-section:last-of-type{
  border: none;
}
.personA{
  text-align: right;
}
.personB{
  text-align: left;
}
.commun p{
  width: 30%;
}